<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.hitwh.homework.mapper.CourseMapper">
    <!--条件查询-->
    <select id="list" resultType="edu.hitwh.homework.pojo.Course">
        select * from courses
        <where>
            <if test="courseName != null and courseName != ''">
                course_name like concat('%', #{courseName}, '%')
            </if>
        </where>
    </select>
    <!--批量删除-->
    <delete id="delete">
        delete from courses
        where course_id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
</mapper>